* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head-section {

    background-image: url("images/donation5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;


}

.child-div {
    position: absolute;
    height: 60vh;
    width: 60vw;
    top: 50%;
    left: 20%;
}

.heading-head {
    text-align: center;
    color: white;
    font-size: 30px;


}

.para-1 {
    text-align: center;
    color: white;


}

.anchor-1 {
    text-align: center;
    margin-top: 40px;

}

.anchor-1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: tomato;
    font-size: 25px;
}

.heading-mid {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

    margin-top: 30px;
}

.para-mid {
    text-align: center;
    color: gray;
    font-size: 15px;
    margin-top: 20px;
}

.main-card {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main-card-child {
    color: black;
    font-weight: bold;
    font-size: 20px;

    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;


}

.main-card-second {
    color: red;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid red;
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

}